* {
  box-sizing: border-box;
}

html {
  background-color: #230444;
  color: #eee;
}

body {
  padding: 1rem 4rem;
  font-family: 'Chau Philomene One', sans-serif;
}

a {
  color: #eee;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}
